:root {
    --main-bg-color: #FF81C0;
    --main-txt-color: #FCF679;
    --main-hl-color: #41FDFE;
  }
html{
    overflow: hidden;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1{
    font-family: 'Courier New','Fira Code', monospace, monospace;
    font-size:calc(13vmax);
    font-weight: 200;
    margin: 0;
    padding: 0;
    white-space: wrap;
    line-height: 1;
}
p{
    color: var(--main-txt-color);
    font-family: 'Fira Code','Courier New', monospace, monospace;
    font-size:calc(5vmax);
    font-weight: 300;
    margin: 0vw;
    padding: 0vw;
    white-space: wrap;
}
a{
    -moz-transition: color.3s ease;
    -ms-transition: color.3s ease;
    -o-transition: color.3s ease;
    -webkit-transition: color.3s ease;
    color: var(--main-txt-color);
    transition: color.3s ease;
    white-space: nowrap;
    text-decoration: none;
}
a:hover{
    -moz-transition: color.3s ease;
    -ms-transition: color.3s ease;
    -o-transition: color.3s ease;
    -webkit-transition: color.3s ease;
    color: var(--main-hl-color);
    transition: color.3s ease;
}
i{
    list-style: none;
}
.container{
    align-items: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: left;
    padding: 0;
}
.social {
    font-size:calc(5.5vmax);
    font-weight: 200;
    opacity:0;
    transition: 500ms opacity;
}
::selection {
    background: var(--main-hl-color);
    color: var(--main-bg-color);
}
::-moz-selection {
    background: var(--main-hl-color);
    color: var(--main-bg-color);
}